/* Defaulting the colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, header, footer
{
  background-color: #2B3E55;
  color: whitesmoke;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1
{
  margin-left: 12vw;
  font-size: 40px;
  text-shadow: 1px 1px 2px #93b1af;
}

h2
{
  margin-left: 12vw;
  font-size: 30px;
  text-shadow: 1px 1px 2px #93b1af;
}

#progress-container {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #aad4c9;
  width: 90%;
  max-width: 1100px;
  border-radius: 5px;
  box-shadow: 0 0 10px #aad4c9;
  align-items: center;
  position: relative;
  height: 90px;
 
 
  

}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
}

#otter, #fish, #celebration {
  position: absolute;
  height: 70px;
  top: 0;
  transition: left 0.3s;
}

#fish {
  right: 0;
}

#celebration {
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

#progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  font-size: 20px;
  font-weight: bold;
}

.daily-streak {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-weight: normal;
  color: #2B3E55;
}

#delete-all {
  background-color: #468c7a; 
  color: white; 
  border-radius: 4px; 
  cursor: pointer;
  margin: 10px 0; 
  transition: background-color 0.3s, transform 0.3s;
  padding: 15px 30px;
  font-size: 1.2em; 
  border: none;
  font-family: Arial, sans-serif;
  display: block; 
  width: fit-content; 
  box-shadow: 0 4px 8px rgba(0 0 0 / 20%); 
  margin-left: auto; 
  margin-right: auto;  
}

#task-form
{
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #aad4c9;
  width: 90%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0 0 10px #aad4c9;
  align-items: center;
}

 #task-form > input
{
  width: 100%;
  box-sizing: border-box; 
  margin-bottom: 10px;
  height: 10px;
  padding: 10px;
  border: 1px solid #aad4c9;
  border-radius: 10px;
  font-family: Arial, sans-serif; /* Change font type */
  font-size: 1.1em;
  line-height: 1.5;
  resize: vertical;
  background-color: #d7eae5;
  color: #2B3E55;
} 


.button:hover {
  background-color: #3e8e41;
}

.user-feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#upcoming-feed {
  margin-bottom: 20px;
}

.upcoming-text {
  font-size: 18px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
/* Navigation bar section */
.nav-bar-left-container {
  width: 20%;
  float: left;
  overflow: hidden;
}

.nav-bar {
  width: 76px;
  height: 100%;

  /* min-height: 100vh; */
  left: 0;
  top: 0;
  background-color: #3F8984;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position:fixed;
}

.nav-bar .databaes-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 25%;
  margin-top: 5%;
}

.nav-bar .home-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 35%;
  margin-top: 25%;
}

.nav-bar .daily-log-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 25%;
  margin-top: 25%;
}

.nav-bar .to-do-list-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 25%;
  margin-top: 25%;
}

@media (width <= 1050px) {
  .content {
      margin-left: 0;
  }
  
  /* Navigation bar section */
  .nav-bar-left-container {
      position: relative;
      float: none;
  }
  
  .nav-bar {
      position: fixed;
      left: auto;
      top: 92%;
      width: 100%;
      height: 8vh;
      flex-direction: row;
      justify-content: center;
      padding-top: 20px;
      overflow: hidden;
      z-index: 2;
  }

  .nav-bar .databaes-icon {
      display: none;
  }

  .nav-bar .home-icon {
      width: 8vw;
      height: 8vw;
      margin: 25px;
  }

  .nav-bar .daily-log-icon {
      width: 8vw;
      height: 8vw;
      margin: 25px;
  }

  .nav-bar .to-do-list-icon {
      width: 8vw;
      height: 8vw;
      margin: 25px;
  }

  /* TODO: Responsiveness for the rest of the elements */
}