html {
    background-image: radial-gradient(circle, #70c7e0, #44baad, #60a568, #898828, #ac5f15);
    height: 100%;
}

/* body {
    height: 100%;
} */

/* Daily streak section */
#dailyStreak {
    text-align: right;
    padding-top: 0.5em;
    padding-right: 2.25em;
}

/* #welcomeText {
    text-align: center;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
} */


/* Welcome text and buttons */

.welcomeText { grid-area: welcome; }

.dailyLogButton { grid-area: dailyLogButton; }

.projectsButton { grid-area: projectsButton; }

.toDoListButton { grid-area: toDoListButton; }

/* .mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
} */

.mainContainer {
    margin-left: 0px;
    margin-top: 30vh;
    display: grid;
    grid-template-areas: 
        'welcome welcome welcome'
        'dailyLogButton projectsButton toDoListButton';
    gap: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    place-content: center;
}

.mainContainer > h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 300%;
}

.mainContainer > button {
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 0em 2em 0em 2em;
}

/* Upcoming items and user activity */

.userFeedContainer {
    display: grid;
    grid-template-columns: auto auto;
}

/* Upcoming Items */
#upcomingFeed {
    margin-left: 5em;
}

#upcomingFeed hr {
    margin-left: 0;
    width: 85%;
    height: 5px;
    background-color: white;
}

.upcomingText {
    /* width: 110vh;
    height: 45vh; */
    width: 60%;
    height: 180%;
}
