:root{
    --green: #3F8984;
    --white: #FFF;
    --tan: #CAAF8E;
    --cream: #F6F1E2;
    --grey: #D9D9D9;
}

body{
    background-color: var(--white);
    margin: 0;
}

/* Text Elements */
h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

/* Navigation Bar */
.navbar{
    background-color: var(--green);
    z-index:1;
    position:fixed;
    bottom: 0;
    margin: 0;
    height: 13vh;
    width: 100%;
    text-align: center;
}

.navbar h3{
    margin-top: 1vh 1vh 0 0;
    font-size:4vw;
    color:var(--white);
}
.icons-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar img{
    width: 10vw;
    height: 10vw;
}

/* Header */
.add-button img{
    width: 8vw;
    height: 8vw;
}

/* Styling Layout of Page */
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 42vw);
    padding: 10px;
    gap: 20px;
    column-gap: 50px;
    width: 100%;
    height: 20%;
    margin: 20px;
}

.project-buttons{
    display:flex;
    justify-content:flex-end;
    padding-top: 15px;
}

/* Styling Individual Project Components */
.project-element{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%);
    transition: 0.3s;
    align-items: left;
    text-align: left;
    font-size: 50px;
    padding: 30px;
}

.project-element h3{
    margin: 0; 
    font-size: 4rem;
}

.project-element p{
    margin: 0;
    font-size: 3rem;
    opacity: 0.5
}

.project-element:hover{
    box-shadow: 0 8px 16px 0 rgba(0 0 0 / 20%);
}

.project-element.tan{
    background-color: var(--tan);
    color: #5B4B34;
}

.project-element.green{
    background-color: var(--green);
    color: #F6F1E2;
}

.project-element.cream{
    background-color: var(--cream);
    color: #2B3E55;
}

.grey{
    filter: grayscale(1);
    opacity: 0.6;
}

.closed-projects-container{
    padding-bottom: 13vh;
}

/* Buttons/Icons */
.project-buttons img{
    width: 70px;
    height: 70px;
}

/*  Overlay for editing projects */
.edit-overlay{
    padding: 20px;
    z-index: 2;
    font-size: 2rem;
    display: none;
    position: fixed;
    width: 70%;
    height: 70%;
    top: 10%;
    left: 10%;
    border: 5px solid black;
    border-radius: 30px;
    background-color: white;
}

.edit-overlay label, textarea, button, select, option{
    font-size: 4rem;
    width: 80%;
    align-self: center;
}

#delete-button{
    display:none;
}