* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    background-color: #2B3E55;
    color: whitesmoke;
} */
.content {
    width: auto;
    margin-left: 5%;
}

/* Navigation bar section */
.navBarLeftContainer {
    width: 20%;
    float: left;
}

.navBar {
    position: absolute;
    width: 4%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #3F8984;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
/* .navBar button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 5x;
} */
.navBar .databaes-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 25%;
    margin-top: 5%;
}
.navBar .home-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 35%;
    margin-top: 25%;
}
.navBar .daily-log-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 25%;
    margin-top: 25%;
}
.navBar .to-do-list-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 25%;
    margin-top: 25%;
}
.navBar .projects-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 25%;
    margin-top: 25%;
}

/* Daily Log-in section */


/* Daily log visual (within the daily log section) */
/* --- Creating the circles for the daily log-in --- */
.circle {
    height: 20px;
    width: 20px;
    background: #949494;
    border-radius: 50%;
    
}
/* --- Setting up grid variables: 4 Sections --- */
/* Section: Log in streak "fire" pic and counter */
#logInStreakPic { grid-area: logInStreakPic; }
#dayStreak { grid-area: dayStreak; }

.dailyStreakCounterContainer {
    display: grid;
}

/* Section: Daily log visual title */
#dailyJournalPic { grid-area: dailyJournalPic; }
.dailyLogsTitle { grid-area: dailyLogTitle; }

.dailyLogVisualTitle {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: 
        'dailyJournalPic dailyLogTitle';
    gap: 1em;
    width: 20%;
    align-items: center;
}

/* Section: Daily streak days of the week icons */
#sundayAbbr { grid-area: sundAbbr; }
#mondayAbbr { grid-area: mondAbbr; }
#tuesdayAbbr {grid-area: tuesAbbr; }
#wednesdayAbbr { grid-area: wedAbbr; }
#thursdayAbbr { grid-area: thurAbbr; }
#fridayAbbr { grid-area: friAbbr; }
#saturdayAbbr { grid-area: satAbbr; }

#sundayCircle { grid-area: sundCirc; }
#mondayCircle { grid-area: mondCirc; }
#tuesdayCircle { grid-area: tuesCirc; }
#wednesdayCircle { grid-area: wedCirc; }
#thursdayCircle { grid-area: thurCirc; }
#fridayCircle { grid-area: friCirc; }
#saturdayCircle { grid-area: satCirc; }

.dailyStreakVisualContainer {
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    grid-template-areas: 
        'sundAbbr mondAbbr tuesAbbr wedAbbr thurAbbr friAbbr satAbbr'
        'sundCirc mondCirc tuesCirc wedCirc thurCirc friCirc satCirc';
    /* gap: 10px; */
    padding: 0.5em;
    height: 100%;
    width: 20%;
    column-gap: 1em;
    text-align: center;
    justify-content: center;
    /* border: 1px solid black;
    border-radius: 25px; */
}

.dailyStreakVisualContainer span {
    margin-left: 25%;
}

/* Section: Combine previous 3 sections to a single "Daily Log in" view */
.dailyStreakCounterContainer { grid-area: streakCounter; }
.dailyLogVisualTitle { grid-area: streakVisualTitle; }
.dailyStreakVisualContainer { grid-area: streakVisual; }



/* Dashboard content section */



/* Overall Progress Bar */
.progressBar {
    width: 160px;
    height: 160px;
    background-color: rgb(148, 195, 195);
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.inner {
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#progressNumber {
    font-weight: 600;
    color:azure;
}

circle {
    fill: none;
    stroke:cornflowerblue;
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}

@keyframes anim {
    100%{
        stroke-dashoffset: 225 /* 450 - (450*0.5)*/;
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}